---
import Layout from "@/layouts/layout.astro";
import { services } from "@/components/Services/servicesData";
import Main from "@/layouts/main.astro";
import ServiceHero from "@/components/Services/ServicePage/ServiceHero";
import { getServices } from "@/lib/strapi/strapi";
import BlockRenderer from "@/components/Services/ServicePage/BlockRenderer";

export async function getStaticPaths() {
  const services = await getServices();
  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
const STRAPI_URL = import.meta.env.STRAPI_URL;
---

<Layout>
	<Main>
		<ServiceHero 
      client:load
      category={service.category}
      title={service.title}
      description={service.description}
      extraText={service.extraText}
      imageHero={`${STRAPI_URL}${service.heroImage?.url}`}
      imageAlt={service.heroImage?.alternativeText ?? service.title}
    />

    <BlockRenderer client:load blocks={service.body} />

	</Main>
</Layout>
