---
import DocPage from "@/layouts/docPage.astro";
import DocSection from "@/components/Docs/DocSection.astro";
import { getCookie } from "@/lib/strapi/strapi";
import { toParagraphs } from "@/lib/utils";

const data = await getCookie();
---

<DocPage title={data.title} intro={data.intro} heading={data.heading}>
  {data.sections.map((section) => (
    <DocSection id={section.sectionID} title={section.title}>
      {toParagraphs(section.content).map((text) => (
        <p class="text-md leading-relaxed">{text}</p>
      ))}
    </DocSection>
  ))}
</DocPage>
