---
import Layout from "@/layouts/layout.astro";
import Content from "@/layouts/content.astro";
import { Divider } from "@/components/ui/divider";
import CursorBubble from "@/components/ui/cursorBubble";
import { projects } from "@/data/projects";
---

<Layout>
  <Content
    textExtra=`${projects.length} Proyectos`
    title="Nuestro trabajo"
    label="GALERIA"
  >
    <Divider />
    <div
      data-hover
      class="pt-12 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-8"
    >
      {
        projects.map((project) => (
          <a href={`/works/${project.slug}`} class="block">
            <article class="flex flex-col gap-8">
              <img
                src={project.image}
                alt={project.title}
                loading="lazy"
                class="w-full rounded-3xl object-cover aspect-4/3 md:aspect-16/10"
              />
              <div class="mt-4 flex items-center justify-between gap-4">
                <h2 class="text-4xl lowercase font-medium leading-none">
                  {project.title}
                </h2>
                <span class="text-2xl font-medium opacity-50">
                  {project.info.campo}
                </span>
              </div>
            </article>
          </a>
        ))
      }
    </div>
    <CursorBubble selector="[data-hover]" client:load />
  </Content>
</Layout>
