---
import Layout from "@/layouts/layout.astro";
import Content from "@/layouts/content.astro";
import service1 from "@/assets/Services/Service-1.jpg";
import service2 from "@/assets/Services/Service-2.jpg";
import service3 from "@/assets/Services/Service-3.jpg";
import { Divider } from "@/components/ui/divider";
import CursorBubble from "@/components/ui/cursorBubble";
import type { Project } from "@/types/project";

const projects: Project[] = [
  {
    slug: "corona-1",
    title: "Corona 1",
    info: {
      campo: "Prostodoncia",
      cliente: "Clínica Dental",
      tecnologia: ["Zirconio", "CAD/CAM"],
    },
    image: service1.src,
  },
  {
    slug: "implante-1",
    title: "Implante 1",
    info: {
      campo: "Implantología",
      cliente: "Centro Odontológico",
      tecnologia: ["Zirconio", "Implantología"],
    },
    image: service2.src,
  },
  {
    slug: "corona-2",
    title: "Corona 2",
    info: {
      campo: "Prostodoncia",
      cliente: "Consultorio Privado",
      tecnologia: ["Zirconio"],
    },
    image: service3.src,
  },
  {
    slug: "implante-2",
    title: "Implante 2",
    info: {
      campo: "Implantología",
      cliente: "Clínica Premium",
      tecnologia: ["Titanio", "CAD/CAM"],
    },
    image: service1.src,
  },
];
---

<Layout>
  <Content
    textExtra=`${projects.length} Proyectos`
    title="Nuestro trabajo"
    label="GALERIA"
  >
    <Divider />
    <div
      data-hover
      class="pt-12 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-8"
    >
      {
        projects.map((project) => (
          <a href={`/works/${project.slug}`} class="block">
            <article class="flex flex-col gap-8">
              <img
                src={project.image}
                alt={project.title}
                loading="lazy"
                class="w-full rounded-3xl object-cover aspect-4/3 md:aspect-16/10"
              />
              <div class="mt-4 flex items-center justify-between gap-4">
                <h2 class="text-4xl lowercase font-medium leading-none">
                  {project.title}
                </h2>
                <span class="text-2xl font-medium opacity-50">
                  {project.info.campo}
                </span>
              </div>
            </article>
          </a>
        ))
      }
    </div>
    <CursorBubble selector="[data-hover]" client:load />
  </Content>
</Layout>
