---
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services';
import Ticker from '@/components/Ticker';
import Triad from '@/components/Triad/Triad.js';
import Works from '@/components/Works';
import Layout from '@/layouts/layout.astro';
import Main from '@/layouts/main.astro';
import { getHome } from '@/lib/strapi/strapi';
import type { HomeData } from '@/lib/strapi/types';

const {seo, hero, triad, works} : HomeData = await getHome();

---

<Layout title={seo.metaTitle} description={seo.metaDescription}>
	<Main>
		<Hero 
			heroH1={hero.title}
			subtitle={hero.subtitle}
			ctaText={hero.ctaText}
			ctaUrl={hero.ctaUrl}
			imageUrl={hero.image?.url}
		/>
		<Triad {...triad} client:load />
		<Works
			title={works.title}
			ctaText={works.ctaText}
			ctaUrl={works.ctaUrl}
			client:load
		/>
		 <!-- <Ticker client:load />  -->
		<Services client:load />
	</Main>
</Layout>