---
import Hero from '@/components/Home/Hero.astro';
import Works from '@/components/Home/Works';
import Triad from '@/components/Home/Triad/Triad';
import Services from '@/components/Services/Services';
import Layout from '@/layouts/layout.astro';
import Main from '@/layouts/main.astro';
import { getHome } from '@/lib/strapi/strapi';
import type { HomeData } from '@/lib/strapi/types';

const {seo, hero, triad, works} : HomeData = await getHome();

---

<Layout title={seo.metaTitle} description={seo.metaDescription}>
	<Main>
		<Hero
			heroH1={hero.title}
			subtitle={hero.subtitle}
			ctaText={hero.ctaText}
			ctaUrl={hero.ctaUrl}
			imageUrl={hero.image?.url}
		/>
		<Triad {...triad} client:load />
		<Works
			title={works.title}
			ctaText={works.ctaText}
			ctaUrl={works.ctaUrl}
			client:load
		/>
		<Services client:load />
	</Main>
</Layout>
