---
import Hero from '@/components/Hero.astro';
import Services from '@/components/Services';
import Triad from '@/components/Triad/Triad.js';
import Works from '@/components/Works';
import Layout from '@/layouts/layout.astro';
import Main from '@/layouts/main.astro';
import { getHome } from '@/lib/strapi/strapi';
import type { HomeData } from '@/lib/strapi/types';

const {seo, hero, triad} : HomeData = await getHome();

---

<Layout title={seo.metaTitle} description={seo.metaDescription}>
	<Main>
		<Hero 
			heroH1={hero.title}
			subtitle={hero.subtitle}
			ctaText={hero.ctaText}
			ctaUrl={hero.ctaUrl}
			imageUrl={hero.image?.url}
		/>
		<Triad {...triad} client:load />
		<Works client:load/>
		<Services client:load />
	</Main>
</Layout>