---
import DocPage from "@/layouts/docPage.astro";
import DocSection from "@/components/Docs/DocSection.astro";
import { getLegal } from "@/lib/strapi/strapi";
import { toParagraphs } from "@/lib/utils";

const data = await getLegal();
const tocItems = data.sections.map(({ sectionID, title }) => ({
  id: sectionID,
  label: title,
}));
---

<DocPage title={data.title} intro={data.intro} heading={data.heading} tocItems={tocItems}>
  {data.sections.map((section) => (
    <DocSection id={section.sectionID} title={section.title}>
      {toParagraphs(section.content).map((text) => (
        <p class="text-md leading-relaxed">{text}</p>
      ))}
    </DocSection>
  ))}
</DocPage>
