---
import { Button } from "./ui/button";

interface Props {
  heroH1: string;
  subtitle: string;
  ctaText: string;
  ctaUrl: string;
  imageUrl: string;
}

const { heroH1, subtitle, ctaText, ctaUrl, imageUrl } = Astro.props;
const STRAPI_URL = import.meta.env.STRAPI_URL ?? "http://localhost:1337";
---

<div class="h-screen flex-col items-center justify-center p-4 text-center">
  <div class="img-wrapper relative w-full h-full rounded-3xl overflow-hidden">
    <img 
      class="object-cover" 
      src={`${STRAPI_URL}${imageUrl}`} 
      alt="D'acosta labs" 
      loading="eager" />
  </div>
  <div
    class="absolute flex flex-col items-start left-0 bottom-0 pl-24 py-20 z-100 max-w-[60%] gap-4"
  >
    <h1 class="main-title text-neutral">{heroH1}</h1>
    <span class="text-neutral-100 text-left text-shadow-2xs max-w-xl"
      >{subtitle}</span
    >
    <Button className="font-semibold" variant="accent" size="xl">
      {ctaText}
    </Button>
  </div>
</div>

<style>
  .img-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 10;
    border-radius: 1.5rem;
  }
</style>
